/* src/features/dnd/FlexContainer.css */
.flex-container {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.column-content {
  flex: 1;
  overflow-y: auto;
}

.column-resizer {
  width: 10px; /* Ширина границы */
  cursor: ew-resize;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  position: relative;
}
